<app-header titulo="Texto a discurso" href="/aplicacion/tabs/tab3"></app-header>

<ion-content>
    <div id="containerTtoSpeech">
        <form [formGroup]="formTextToDiscurso" class="form"  (ngSubmit) = "textoToSpeech()">
            <ion-item>
                <ion-select placeholder = "Voz del discurso" formControlName="voz">
                    <ion-select-option value="en-US_LisaV3Voice">Ingles - Lisa (femenina)</ion-select-option>
                    <ion-select-option value="en-US_MichaelV2Voice">Ingles - Michael (masculina)</ion-select-option>
                    <ion-select-option value="es-ES_LauraVoice">Español - Laura (femenina)</ion-select-option>
                    <ion-select-option value="es-ES_EnriqueVoice">Español - Enrique (masculina)</ion-select-option>
                    <ion-select-option value="fr-FR_ReneeV3Voice">Frances - Renee (femenina)</ion-select-option>
                    <ion-select-option value="fr-FR_NicolasV3Voice">Frances - Nicolas (masculina)</ion-select-option>
                    <ion-select-option value="it-IT_FrancescaV2Voice">Italiano - Francesca (femenina)</ion-select-option>
                    <ion-select-option value="pt-BR_IsabelaV3Voice">Portugues - Isabel (femenina)</ion-select-option>
                    <ion-select-option value="de-DE_BirgitVoice">Aleman - Birgit (femenina)</ion-select-option>
                    <ion-select-option value="de-DE_DieterV2Voice">Aleman - Dieter (masculina)</ion-select-option>
                    <ion-select-option value="ja-JP_EmiVoice">Japones - Emi (femenina)</ion-select-option>
                    <ion-select-option value="ar-MS_OmarVoice">Arabe - Omar (masculina)</ion-select-option>
                    <ion-select-option value="ko-KR_YoungmiVoice">Coreano - Youngmi (femenina)</ion-select-option>
                    <ion-select-option value="ko-KR_HyunjunVoice">Coreano - Hyun (masculina)</ion-select-option>
                </ion-select>
            </ion-item>
            <div class="msjErrContainer">
              <span *ngIf="formTextToDiscurso.get('voz').dirty && formTextToDiscurso.get('voz').hasError('required')">La voz del discurso es requerido.</span>
            </div>
            <ion-item>
              <ion-label position = "floating">Texto</ion-label>
              <ion-textarea formControlName="texto" ></ion-textarea>        
            </ion-item>
            <div class="msjErrContainer">
              <span *ngIf="formTextToDiscurso.get('texto').dirty && formTextToDiscurso.get('texto').hasError('required')">El texto es requerido.</span>
              <span *ngIf="formTextToDiscurso.get('texto').dirty && formTextToDiscurso.get('texto').hasError('minlength')">El texto debe ser mayor a 2 caracteres.</span>
              <span *ngIf="formTextToDiscurso.get('texto').dirty && formTextToDiscurso.get('texto').hasError('maxlength')">El texto debe ser menor a 2501 caracteres.</span>
            </div>
            <ion-button shape="round" expand="full" type="submit" [disabled]="formTextToDiscurso.invalid" class="button">Obtener información</ion-button>
        </form>
    </div>
    <div class="containerWithModified" *ngIf="contenidoPost.textoPost" [innerHTML] = "contenidoPost.textoPost"></div>
    <div class="containerWithModified" *ngIf="contenidoPost.textoPost">
      <audio *ngIf="audioUrl" [src]="audioUrl" autoplay controls></audio>
      <ion-button shape="round" expand="full" type="submit" class="button" (click)="publicarPost()">Publicar post</ion-button>
    </div>
</ion-content>

